<table>
  <thead>
    <tr>
      <th>Long Url</th>
      <th>Short Url</th>
    </tr>
  </thead>
  <tbody>
    <% @urls.each do |url| %>
    <tr>
      <td><a href="<%= url.long_url %>"><%= url.long_url %></a></td>
      <td><a href="<%= url.short_url %>"><%= url.short_url %></a></td>
    </tr>
    <% end %>
  </tbody>
</table>
